# MongoDB
MONGO_URL=mongodb+srv://shreyasvikhe3_db_user:2kAZnKHoEvgsWkcI@krushimitra.ccecf9z.mongodb.net/krushimitra?retryWrites=true&w=majority
DB_NAME=krushimitra

# JWT
JWT_SECRET=your_jwt_secret_key_here_change_in_production

# Server
PORT=8001

# CORS
CORS_ORIGINS=*

# Email / OTP
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_gmail_app_password
EMAIL_FROM="KrushiMitra <your_email@gmail.com>"

# Google Auth
GOOGLE_CLIENT_ID=120774773066-ep07jfhm7cnaeh4b1nivrrnt9bm8p15j.apps.googleusercontent.com
